@font-face {
    font-family: 'clockin';
    src:  url('../fonts/clockin.eot?ckvjea');
    src:  url('../fonts/clockin.eot?ckvjea#iefix') format('embedded-opentype'),
    url('../fonts/clockin.ttf?ckvjea') format('truetype'),
    url('../fonts/clockin.woff?ckvjea') format('woff'),
    url('../fonts/clockin.svg?ckvjea#clockin') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="clockin-"], [class*=" clockin-"] {
    font-family: 'clockin';
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clockin-play:before {
    content: "\ea1c";
}
.clockin-pause:before {
    content: "\ea1d";
}
.clockin-stop:before {
    content: "\ea1e";
}

.clockin-reload:before {
  content: "\e901";
}

.clockin-timer {
    background: #083d4b;
    font-size: 50px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: calc(100% - 20px);
    max-width: 420px;
    min-width: 212px;
}

.clockin-time-wrapper {
    display: table;
    margin: auto;
}

.clockin-timer span {
    display: table-cell;
    font-family: monospace;
    color: #62909a;
}

.clockin-actions {
    display: table;
    margin: auto;
    margin-bottom: 40px;
}

.clockin-actions > button {
    border: 0px;
    padding: 8px 30px;
    font-size: 25px;
    color: #b5c8cc;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.clockin-actions > button:not(.clockin-btn-pause) {
    display: table-cell;
}

.clockin-btn-start {
    background: #425258;
}

.clockin-btn-pause {
    background: #2ba098;
    display: none;
}

.clockin-btn-reset {
    background: #ca4b17;
    margin-left: 10px;
}